[{relx_test, []},

 {episcina, [{pools, [{primary,
                       [{size, 10},                        
                        {timeout, 10000},
                        {connect_provider, {pp_db, open,
                                            [[{host, "localhost"}
                                             ,{database, "YOUR_POSTGRES_DB"}
                                             ,{port, 5432}
                                             ,{user, "postgres"}
                                             ,{password, "YOUR_PASSWORD"}]]}},
                        {close_provider, {pp_db, close, []}}]}]
             }
            ]
 }
].
